RewriteEngine On

# 1. Forzar HTTPS (Compatible con Hostinger)
RewriteCond %{ENV:HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 2. Forzar uso de WWW
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 3. Redirect /calendario a la sección de reserva
RewriteRule ^calendario$ index.html#contacto [NE,L,R=301]
